/************************************************
* PEL CSS RESET
*
* Author: Pierre-Emmanuel Lévesque
* License: none (public domain)
* Based on Eric Meyer and HTML5 Doctor resets
*************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fixes old browser resize bugs */
html { font-size: 100.01%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block;
}

body { line-height: 1; }

a { text-decoration: none; }

del { text-decoration: line-through; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/************************************************
* LAYOUT
*************************************************/

/* make all sections full screen */
section, article, footer { height: 100vh; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: height 500ms linear, opacity 500ms linear;
  -moz-transition: height 500ms linear, opacity 500ms linear;
  -ms-transition: height 500ms linear, opacity 500ms linear;
  -o-transition: height 500ms linear, opacity 500ms linear;
  transition: height 500ms linear, opacity 500ms linear;
}

header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul li { margin: 0 8px; }

#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#banner h1 span:first-child {
  display: none;
}

#banner h1 span:nth-child(2) {
  display: block;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#about h2, #about h3 span {
  display: none;
}

#about > div:first-of-type {
  margin-bottom: 60px;
}

#about ul {
  display: flex;
  justify-content: center;
}

#about ul li {
  margin: 0 10px;
}

#about div:nth-child(3) {
  margin-bottom: 20px;
}

main h2, main article h4 { display: none }

main article {
  padding: 80px 50px 50px 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  flex-direction: row-reverse;
}

main article h3 {
  position: absolute;
  top: 30px;
  left: 50px;
}

main article div {
  margin-top: 50px;
}

main article div p {
  margin-bottom: 40px;
  max-width: 450px;
}

/* technologies */
main article div ul:first-of-type {
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 30px;
}

main article div ul:first-of-type li:not(:last-child) {
  margin-right: 15px;
}

/* links */
main article div ul:last-of-type {
  display: flex;
  align-items: center;
}

main article div ul:last-of-type a {
  margin-right: 15px;
  padding: 0.5em 1em;
}

/* image */
main article figure img {
  width: 450px;
  height: 450px;
  margin-right: 50px;
}

/* Font Awesome */
main article div ul:last-of-type a[title="GitHub"]:after,
main article div ul:last-of-type a[title="Archived"]:after,
main article div ul:last-of-type a[title="Location Map"]:after,
main article div ul:last-of-type a[title="Image Gallery"]:after,
main article div ul:last-of-type a[title="Forum Post"]:after {
  margin-left: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

footer ul li { padding: 0 50px; }

/************************************************
* COLORS
*************************************************/

a {
  -webkit-transition: color 500ms linear, background 500ms linear;
  -moz-transition: color 500ms linear, background 500ms linear;
  -ms-transition: color 500ms linear, background 500ms linear;
  -o-transition: color 500ms linear, background 500ms linear;
  transition: color 500ms linear, background 500ms linear;
}

header {
  background: #212121;
  opacity: 0.7;
}

.header_scroll {
  opacity: 1;
}

/* These are design elements.... */
header nav ul li a[title="top"]:after {
  color: #bbb;
}

header nav ul li a[title="about"]:after, header nav ul li a[title="contact"]:before {
  color: #777;
}

header nav ul li a:link, header nav ul li a:visited,
header nav ul li a[title="top"]:link:after, header nav ul li a[title="top"]:visited:after {
  color: #bbb;
}

header nav ul li a:hover, header nav ul li a:active,
header nav ul li a[title="top"]:hover:after, header nav ul li a[title="top"]:active:after,
header nav ul li a.active, header nav ul li a[title="top"].active:after {
  color: #fff;
}

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('banner/banner_1920x1080.jpg');
  background-size: cover;
  color: #bbb;
}

#about {
  background: #212121;
  color: #bbb;
}

#about ul li a:link, #about ul li a:visited {
  color: #666;
}

#about ul li a:hover, #about ul li a:active {
  color: #fff;
}

main article {
  border-bottom: 1px solid #aaa;
}

main article:nth-of-type(odd) {
  background: #fff;
}

main article:nth-of-type(even) {
  background: #fff;
}

main article div ul:last-of-type a {
  border: 1px solid #ccc;
}

main article div ul:last-of-type a:link, main article div ul:last-of-type a:visited,
main article div ul:last-of-type a:hover, main article div ul:last-of-type a:active {
  color: #000;
}

main article div ul:last-of-type a:hover {
  background: #ccc;
}

footer {
  background: #212121;
}

footer ul li a:after, footer > a {
  -webkit-transition: color 500ms linear, background 500ms linear;
  -moz-transition: color 500ms linear, background 500ms linear;
  -ms-transition: color 500ms linear, background 500ms linear;
  -o-transition: color 500ms linear, background 500ms linear;
  transition: color 500ms linear, background 500ms linear;
}

footer ul li a:after, footer ul li a:link:after, footer ul li a:visited:after,
footer > a, footer > a:link, footer > a:visited {
  color: #666;
}

footer ul li a:hover:after, footer ul li a:active:after,
footer > a:hover, footer > a:active {
  color: #fff;
}

/************************************************
* FONTS
*************************************************/

@font-face {
  font-family: 'LatoLight';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome-4.6.3_fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('font-awesome-4.6.3_fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Font Awesome setup */
header nav ul li a[title="top"]:after,
main article div ul:last-of-type a[title="GitHub"]:after,
main article div ul:last-of-type a[title="Archived"]:after,
main article div ul:last-of-type a[title="Location Map"]:after,
main article div ul:last-of-type a[title="Image Gallery"]:after,
main article div ul:last-of-type a[title="Forum Post"]:after,
footer ul li a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, #banner, #about {
  font-family: 'LatoLight';
}

header {
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* hides text for header nav ul li a[title="top"]:after */
header nav ul li a[title="top"] {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
  margin-right: 3px;
}

header nav ul li a[title="top"]:after {
  content: "\f106";
  padding-bottom: 3px;
  font-size: 1.6rem;
}

header nav ul li a[title="about"]:after, header nav ul li a[title="contact"]:before {
  content: "|";
}

/* twice as much as (header nav ul li) margin */
header nav ul li a[title="about"]:after {
  margin-left: 16px;
}

header nav ul li a[title="contact"]:before {
  margin-right: 16px;
}

#banner {
  font-size: 2.3em;
  line-height: 1.7em;
  letter-spacing: 2px;
}

#about div p {
  font-size: 2em;
  line-height: 1.6em;
}

#about h3 {
  font-size: 1.6em;
  line-height: 2.4em;
  letter-spacing: 1px;
}

#about ul {
  font-size: 1.4em;
}

main article h3 {
  font-size: 1.4em;
}

main article div p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* technologies */
main article div ul:first-of-type {
  font-size: 1.1em;
}

main article div ul:first-of-type li:not(:last-child):after {
  content: ",";
}

/* links */
main article div ul:last-of-type {
  font-size: 1.1em;
}

main article div ul:last-of-type a {
  cursor: pointer;
}

footer {
  font-family: 'LatoLight';
}

/* hides text */
footer ul li a {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
}

footer ul li a:after {
  font-size: 6rem;
}

footer > a {
  font-size: 3em;
  letter-spacing: 1px;
}

main article div ul:last-of-type a[title="GitHub"]:after, a[title="GitHub"]:after {
  content: "\f09b";
}

main article div ul:last-of-type a[title="Archived"]:after {
  content: "\f187";
}

main article div ul:last-of-type a[title="Location Map"]:after {
  content: "\f276";
}

main article div ul:last-of-type a[title="Image Gallery"]:after {
  content: "\f03e";
}

main article div ul:last-of-type a[title="Forum Post"]:after {
  content: "\f0c0";
}

a[title="StackOverflow"]:after {
  content: "\f16c";
}

a[title="LinkedIn"]:after {
  content: "\f08c";
}

/*
@media (max-width: 1440px) {
  #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('banner/banner_1440x810.jpg');
  }
}

@media (max-width: 1024px) {
  #banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('banner/banner_1024x576.jpg');
  }
}
*/
