/************************************************
* PEL CSS RESET
*
* Author: Pierre-Emmanuel Lévesque
* License: none (public domain)
* Based on Eric Meyer and HTML5 Doctor resets
*************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fixes old browser resize bugs */
html { font-size: 100.01%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block;
}

body { line-height: 1 }

a { text-decoration: none }

del { text-decoration: line-through }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/************************************************
* FONTS SETUP
*************************************************/

@font-face {
  font-family: 'LatoRegular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'LatoSuperThin';
  font-style: normal;
  font-weight: 200;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v11/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'LatoThin';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
    url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome-4.6.3_fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('font-awesome-4.6.3_fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
    url('font-awesome-4.6.3_fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

header nav ul li a[title="top"]:after,
main article div ul:last-of-type a[title="GitHub"]:after,
main article div ul:last-of-type a[title="Archived"]:after,
main article div ul:last-of-type a[title="Location Map"]:after,
main article div ul:last-of-type a[title="Image Gallery"]:after,
footer ul li a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/************************************************
* COMMON
*************************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: color 500ms linear, background 500ms linear;
  -moz-transition: color 500ms linear, background 500ms linear;
  -ms-transition: color 500ms linear, background 500ms linear;
  -o-transition: color 500ms linear, background 500ms linear;
  transition: color 500ms linear, background 500ms linear;
}

a[role="button"] {
  padding: 1.2em 2.5em;
  cursor: pointer;
  text-transform: uppercase;
}

/************************************************
* HEADER
*************************************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 15px;
  /*background: transparent; */;
  background: #000;
  color: #fff;
  z-index: 999;
  overflow: hidden;
  opacity: 0.7;
  -webkit-transition: height 500ms linear, opacity 500ms linear;
  -moz-transition: height 500ms linear, opacity 500ms linear;
  -ms-transition: height 500ms linear, opacity 500ms linear;
  -o-transition: height 500ms linear, opacity 500ms linear;
  transition: height 500ms linear, opacity 500ms linear;
}

.header_scroll {
  opacity: 1;
  /*background: #fff;
  color: #000; */
}

header h1 { display: none; }

header ul { /* not sure */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header a:link { color: #fff }
header a:visited { color: #fff }
header a:hover { color: #fedf02 }
header a:active { color: #fedf02 }

header nav ul li { margin-right: 20px }

/* hides text */
header nav ul li a[title="top"] {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
}

header nav ul li a[title="about"]:after {
  content: " |";
  margin-left: 10px;
}

header nav ul li a[title="contact"]:before {
  content: " |";
  margin-right: 10px;
}

header nav ul li a[title="top"]:after {
  content: "\f106";
  color: #fff;
  padding-bottom: 3px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 675px;
  /* align-items: center; */
  background: 
    /* top, transparent red */
   linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    /* your image */
     url('banner/banner_1440x810.jpg');
     
     background-size: cover;

  color: #fff;
  text-align: center;
}

#about {
  text-align: center;
  padding: 50px;
  background: #fff;
}

#about h2 {
 font-size: 3em;
  margin-bottom: 50px;
}

#about p {
  /* border: 1px solid #ff0000; */
  max-width: 650px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #999;
}

#about a[role="button"] {
  color: #fff;
  background: #4cca86;
  letter-spacing: 2px;
  font-size: 0.8em;
}

#about a[role="button"]:hover { background: #34c479 }

/************************************************
* PROJECTS
*************************************************/

main h2, main article h4 { display: none }

main article {
  padding: 80px 50px 50px 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  flex-direction: row-reverse;
}

main article:nth-of-type(odd) {
  background: #bbb;
}

main article:nth-of-type(even) {
  background: #ddd;
}

main article h3 {
  font-size: 1.4em;
  position: absolute;
  top: 30px;
  left: 50px;
}

main article div {
  margin-top: 50px;
}

main article div p {
  margin-bottom: 40px;
  max-width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* technologies */
main article div ul:first-of-type {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 30px;
}

main article div ul:first-of-type li:not(:last-child) {
  margin-right: 15px;
}

main article div ul:first-of-type li:not(:last-child):after {
  content: ",";
}

/* links */
main article div ul:last-of-type {
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

main article div ul:last-of-type a {
  margin-right: 15px;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #ccc;
}

main article div ul:last-of-type a:link, main article div ul:last-of-type a:visited,
main article div ul:last-of-type a:hover, main article div ul:last-of-type a:active {
  color: #000;
}

main article div ul:last-of-type a:hover {
  background: #ccc;
}

/* image */
main article figure img {
  width: 450px;
  height: 450px;
  margin-right: 50px;
}

/* Font Awesome */
main article div ul:last-of-type a[title="GitHub"]:after,
main article div ul:last-of-type a[title="Archived"]:after,
main article div ul:last-of-type a[title="Location Map"]:after,
main article div ul:last-of-type a[title="Image Gallery"]:after {
  margin-left: 8px;
}

main article div ul:last-of-type a[title="GitHub"]:after {
  content: "\f09b";
}

main article div ul:last-of-type a[title="Archived"]:after {
  content: "\f187";
}

main article div ul:last-of-type a[title="Location Map"]:after {
  content: "\f276";
}

main article div ul:last-of-type a[title="Image Gallery"]:after {
  content: "\f03e";
}

/************************************************
* Fonts
*************************************************/

header {
  font-family: 'LatoRegular';
  font-family: 'LatoThin';
  font-size: 0.75em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header nav ul li a[title="top"]:after {
  font-size: 1.6rem;
}

#banner {
  font-family: 'LatoSuperThin';
  font-size: 2.3em;
  line-height: 1.5em;
  letter-spacing: 2px;
}

#about {
  font-family: 'LatoThin';
  font-size: 1em;	
}

/*******************************************************/
/* Hack to hide link names, but show font awesome icons
/*******************************************************/

footer {
  height: 600px;
  background: #0000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: flex-start;
}

footer ul li { padding: 0 50px; }

footer ul li a {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
}

footer ul li a:after {
 font-size: 6rem;
}

footer ul li a:after { color: #000 }

/**********************************/

a[title="GitHub"]:after {
  content: "\f09b";
}

a[title="StackOverflow"]:after {
  content: "\f16c";
}

a[title="LinkedIn"]:after {
  content: "\f08c";
}
